/* Product-Carts-Container */
.cart-title {
  width: 950px;
  margin-top: 30px;
}
.cart-checkout-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.cart-checkout-container .product-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 15px;
  margin-top: 20px;
  gap: 5px;

  height: 400px;
  overflow-y: scroll;
  padding: 5px 5px;

  /* /X/ */
  width: 420px;
}
/*  */

/* Product-Carts-Container */
.cart-checkout-container .product-checkout-container {
  font-family: var(--font-sat-M);
  width: 458px;
  display: grid;
  gap: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 20px;
  padding: 20px 24px;
}
.cart-checkout-container
  .product-checkout-container
  .checkout-property-container {
  display: flex;
  justify-content: space-between;
}
.cart-checkout-container
  .product-checkout-container
  .checkout-property-container.total {
  margin-bottom: 15px;
}
.product-checkout-container h3 {
  text-transform: capitalize;
}
.cart-checkout-container .checkout-property-container:nth-child(3) h4 {
  color: #ff3333;
}
.cart-checkout-container .checkout-property-container p {
  text-transform: capitalize;
  font-weight: 900;
  white-space: nowrap;
}
.cart-checkout-container .product-checkout-container .checkout-input-container {
  /* background-color: var(--input-bg); */
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 100px;
  gap: 5px;
}
.cart-checkout-container
  .product-checkout-container
  .checkout-input-container
  .input-checkout-container {
  border-radius: 100px;
  background-color: var(--input-bg);
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 10px;
}
.cart-checkout-container
  .product-checkout-container
  .checkout-input-container
  .input-checkout-container
  input {
  background-color: transparent;
}
.cart-checkout-container
  .product-checkout-container
  .input-checkout-container
  i {
  color: hsl(0, 0%, 60%);
}
.cart-checkout-container
  .product-checkout-container
  .checkout-input-container
  .apply-btn {
  width: calc(100% - 80%);
  height: 100%;
  font-size: 0.8rem;
  font-family: var(--font-sat-L);
}
.product-checkout-container .go-to-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.product-checkout-container .go-to-checkout:hover {
  gap: 20px;
}
.product-checkout-container .go-to-checkout p {
  color: white;
  font-family: var(--font-sat-M);
}
.product-checkout-container .go-to-checkout i {
  font-size: 1.1rem;
  margin-top: 2px;
}
#checkout-end-part {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid hsl(0, 0%, 90%);
}

/* - */

.cart-checkout-container .product-cart-container .single-product {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 90%);

  font-family: var(--font-sat-M);
  position: relative;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .product-checkout-number {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 8px 10px;
  font-size: 0.9rem;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .delete-product-from-checkout {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px 10px;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .delete-product-from-checkout
  i {
  font-size: 0.9rem;
  color: red;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information {
  padding-inline: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information
  h6 {
  font-size: 0.8rem;
}

.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information
  .product-size-and-color-container {
  font-weight: 900;
  font-size: 0.8rem;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information
  .product-size-and-color-container
  p
  span {
  color: black;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .product-image {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--input-bg);
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .product-image
  img {
  width: 80%;
}

.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information
  .product-price-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information
  .product-price-container
  .product-old-price {
  color: gray;
  font-size: 0.9rem;
  text-decoration: line-through;
}
.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information
  .product-price-container
  .discount {
  color: #ff3333;
  background-color: hsl(0, 100%, 95%);
  border-radius: 2px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  margin-left: 5px;
}
/* /Product-Carts-Container */

/* Phones and smaller devices (up to 600px) */
/* iphone 12 Mini */
@media screen and (max-width: 600px) {
  .cart-checkout-container {
    gap: 0px;

    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cart-checkout-container .product-cart-container {
    width: 95%;
  }
  .cart-checkout-container .product-cart-container .single-product {
    width: 100%;
  }
  .cart-title {
    width: 100%;
    padding-inline: 20px;
  }
}

/* Tablets (601px to 768px) */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .cart-checkout-container {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cart-checkout-container .product-cart-container {
    width: 95%;
  }
  .cart-checkout-container .product-cart-container .single-product {
    width: 100%;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    h6 {
    font-size: 1.35rem !important;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-size-and-color-container
    p {
    font-size: 1rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container
    .product-current-price {
    font-size: 1.2rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container
    .product-old-price {
    font-size: 1.1rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container
    .discount {
    font-size: 0.9rem;
    padding: 2px 15px;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .delete-product-from-checkout
    i {
    font-size: 1.4rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-checkout-number {
    font-size: 1.1rem;
  }
  .cart-title {
    width: 100%;
    padding-inline: 50px;
  }

  .cart-checkout-container .product-checkout-container {
    width: 80%;
  }
  .cart-checkout-container .product-checkout-container h3 {
    font-size: 1.3rem;
  }
  .cart-checkout-container
    .product-checkout-container
    .checkout-property-container
    p {
    /* background-color: red; */
    font-size: 1.3rem;
  }
  .cart-checkout-container
    .product-checkout-container
    .checkout-property-container
    h3 {
    font-size: 1.2rem;
  }
  .cart-checkout-container
    .product-checkout-container
    .checkout-input-container
    .input-checkout-container {
    font-size: 1.1rem;
  }
  .cart-checkout-container
    .product-checkout-container
    .checkout-input-container
    .input-checkout-container
    input {
    font-size: 1.1rem;
  }
  .cart-checkout-container
    .product-checkout-container
    .checkout-input-container
    .apply-btn {
    font-size: 1rem;
  }
  .cart-checkout-container .product-checkout-container button {
    font-size: 1.1rem;
  }
}

/* Small laptops and large tablets (769px to 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cart-checkout-container {
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cart-checkout-container .product-cart-container {
    width: 95%;
  }
  .cart-checkout-container .product-cart-container .single-product {
    width: 100%;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    h6 {
    font-size: 1.2rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-size-and-color-container
    p {
    font-size: 1rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container
    .product-current-price {
    font-size: 1.2rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container
    .product-old-price {
    font-size: 1.1rem;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .product-information
    .product-price-container
    .discount {
    font-size: 0.9rem;
    padding: 5px 30px;
    border-radius: 100px;
  }
  .cart-checkout-container
    .product-cart-container
    .single-product
    .delete-product-from-checkout
    i {
    font-size: 1.2rem;
  }

  .cart-title {
    width: 100%;
    padding-inline: 50px;
  }

  .cart-checkout-container .product-checkout-container {
    width: 80%;
  }
}

/*  */

.cart-checkout-container
  .product-cart-container
  .single-product
  .product-information
  h6 {
  font-size: 1rem;
  text-transform: capitalize;
}

/* Younes Amazzal */
