/* Integral */
@font-face {
  font-family: integral-Medium;
  src: url(/Assets/Fonts/Integral/Fontspring-DEMO-integralcf-medium.otf);
}
/* Satoshi */

@font-face {
  font-family: Satoshi-Medium;
  src: url(/Assets/Fonts/Satoshi/Satoshi-Medium.otf);
}
@font-face {
  font-family: Satoshi-Light;
  src: url(/Assets/Fonts/Satoshi/Satoshi-Light.otf);
}
:root {
  --black-color: #000000;
  --white-color: #fff;
  --input-bg: #f0f0f0;
  --bg-1: #f2f0f1;
  --product-bg: #f0eeed;
  --product-bg: #f0eeed;
  --font-int-M: integral-Medium;
  --font-sat-M: Satoshi-Medium;
  --font-sat-L: Satoshi-Light;
}
/*  */

/* Left Nav Category */
.left-nav-category {
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 20px;
  width: 250px;
  padding: 15px 20px;
  height: 90%;
  font-family: var(--font-sat-M);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
}
.left-nav-items {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding-block: 20px;
}
.left-nav-items:first-child {
  /* background-color: blue; */
  padding-top: 0px;
  padding-bottom: 10px;
}
.left-nav-items:last-child {
  border-bottom: 0px;
}

.left-nav-category .category-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-nav-category .category-title h4 {
  font-weight: 100;
}

.left-nav-category ul {
  display: grid;
  gap: 10px;
  padding-top: 15px !important;
}
.left-nav-category ul a {
  transition: all 0.5s;
}
.left-nav-category ul a:hover {
  color: black;
}

.left-nav-category ul a {
  color: hsl(0, 0%, 60%);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}
.left-nav-category .category-price .category-price-range-c {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.left-nav-category .category-price .category-price-range-c input {
  border-radius: 0px;
  width: 50%;
  height: 35px;
  text-align: center;
  border: 1px solid hsl(0, 0%, 00%);
  /* border-radius: 3px; */
}
.left-nav-category .category-price .category-price-range-c p {
  font-size: 0.8rem;
  margin-right: 3px;
}
.left-nav-category .category-price .category-price-range-c .apply-price {
  border-radius: 5px;
  width: 95px;
  height: 35px;
  font-size: 0.8rem;
}
.left-nav-category .colors-inputs-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.left-nav-category .colors-inputs-container input {
  appearance: none;
  background-color: red;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.left-nav-category .colors-inputs-container input:nth-child(1) {
  background-color: green;
}
.left-nav-category .colors-inputs-container input:checked::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
}
.left-nav-category .colors-inputs-container input:nth-child(2) {
  background-color: red;
}
.left-nav-category .colors-inputs-container input:nth-child(3) {
  background-color: yellow;
}
.left-nav-category .colors-inputs-container input:nth-child(4) {
  background-color: orange;
}
.left-nav-category .colors-inputs-container input:nth-child(5) {
  background-color: cyan;
}
.left-nav-category .colors-inputs-container input:nth-child(6) {
  background-color: blue;
}
.left-nav-category .colors-inputs-container input:nth-child(7) {
  background-color: purple;
}
.left-nav-category .colors-inputs-container input:nth-child(8) {
  background-color: deeppink;
}
.left-nav-category .colors-inputs-container input:nth-child(9) {
  background-color: white;
}
.left-nav-category .colors-inputs-container input:nth-child(10) {
  background-color: black;
}

.left-nav-category .category-size .category-size-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.left-nav-category .category-size .category-size-buttons-container button {
  background-color: var(--input-bg);
  border-radius: 100px;
  text-wrap: nowrap;
  padding: 9px 20px;
  color: hsl(0, 0%, 40%);
  text-transform: capitalize;
}
.left-nav-category
  .category-size
  .category-size-buttons-container
  button.active-size-button {
  background-color: black;
  color: white;
}

.left-nav-category .apply-filter {
  width: 100%;
  border: 1px solid white;
}
/* /Left Nav Category */

/* Content */
#content-Id {
  display: flex;
}

.content .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 50px;
  margin-block: 15px;
}
.content .title h1 {
  font-family: var(--font-sat-M);
  font-size: 1.7rem;
}
.content .title .sort-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.content .title .sort-container p:nth-child(1) {
  margin-right: 20px;
}
.content .title .sort-container p {
  font-size: 0.9rem;
  font-weight: 200;
}

.product-container {
  /*  */
  width: 900px;
  /*  */
  margin: 30px;
  border-top: 1px solid hsl(0, 0%, 90%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 30px;
  padding-bottom: 30px;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* font-family: var(--font-sat-L); */
  font-family: var(--font-sat-M);
}

/*  
.product-container .single-product {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 */

.product-container .single-product .product-image {
  width: 210px;
  height: 210px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f0eeed;
}
.product-container .single-product .product-image img {
  width: 95%;
}
/* h6 */
.product-container .single-product .product-information h6 {
  font-size: 1rem;
  margin-top: 6px;
  margin-bottom: 1px;
  text-transform: capitalize;
}
.product-container .single-product .product-information {
  padding-inline: 5px;
}
.product-container
  .single-product
  .product-information
  .product-reviews-container
  .stars-container {
  font-size: 0.7rem;
  color: #ffc633;
}
.product-container
  .single-product
  .product-information
  .product-reviews-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-container
  .single-product
  .product-information
  .product-reviews-container
  .review-note {
  display: flex;
  font-size: 0.8rem;
}
.product-container
  .single-product
  .product-information
  .product-price-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.product-container
  .single-product
  .product-information
  .product-price-container
  .product-old-price {
  color: gray;
  text-decoration: line-through;
}
.product-container
  .single-product
  .product-information
  .product-price-container
  .discount {
  color: #ff3333;
  background-color: hsl(0, 100%, 95%);
  border-radius: 2px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
}

.content .page-numbers-container {
  margin-bottom: 100px;
  margin-inline: 50px;

  display: flex;
}
.content .page-numbers-container .skip-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 8px;
  text-transform: capitalize;
  gap: 10px;
  width: 110px;
  height: 36px;
}
.content .page-numbers-container .skip-button h6 {
  font-size: 14px;
  font-family: var(--font-sat-L);
}

.page-numbers-container .number-page-buttons {
  display: flex;
  gap: 10px;
}
.page-numbers-container .number-page-buttons button.page-btn-active {
  background-color: hsl(0, 0%, 94%);
  color: black;
}
.page-numbers-container .number-page-buttons button {
  background-color: white;
  border-radius: 8px;
  color: hsl(0, 0%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
/* /Content */

.filter-icon-leftnav {
  display: none;
}

/* Phones and smaller devices (up to 600px) */
/* iphone 12 Mini */
@media screen and (max-width: 600px) {
  /* Content */
  #content-Id {
    width: 100%;
  }
  #content-Id .left-nav-category {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0px;
    z-index: 95;
    overflow: scroll;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    margin-top: 100px;
  }
  #content-Id .left-nav-category.openLeftNavResponsive {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
  }
  .filter-icon-leftnav {
    display: none;
  }
  #content-Id .content {
    width: 100%;
  }
  #content-Id .content .title {
    margin: 10px 20px;
  }
  #content-Id .content .title h1 {
    font-size: 1.5rem;
  }
  #content-Id .content .title .reponsive-show-and-hide-leftnav {
    display: block;
    background-color: var(--input-bg);
    border-radius: 100%;
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
  }
  #content-Id .content .title .sort-container p {
    white-space: nowrap;
    font-size: 0.9rem;
    margin: 10px;
  }
  #content-Id .content .title .sort-container p:nth-child(2),
  #content-Id .content .title .sort-container #rating_Select {
    display: none;
  }
  #content-Id .content .product-container {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 0px;

    gap: 10px;
    padding-inline: 10px;
    /* Gap & PaddingInnline Same Value */
  }
  #content-Id .content .page-numbers-container {
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    width: 100%;
    gap: 5px;
  }
  #content-Id .content .page-numbers-container .skip-button {
    width: fit-content;
    gap: 5px;
    padding-inline: 10px;
  }
  #content-Id .content .page-numbers-container .number-page-buttons {
    justify-content: center;
    width: calc(100% - 20%);
    gap: 5px;
  }
  #content-Id .content .page-numbers-container .number-page-buttons button {
    /* min-width: 40px;
    max-width: 40px; */
    min-width: 35px;
    max-width: 35px;
  }
  /* /Content */
}

/* Tablets (601px to 768px) */
@media screen and (min-width: 601px) and (max-width: 768px) {
  /* Content */
  #content-Id {
    width: 100%;
  }
  #content-Id .left-nav-category {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* bottom: 0px; */
    /* top: 0px; */
    z-index: 95;
    overflow: scroll;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    margin-top: 100px;
  }
  #content-Id .left-nav-category.openLeftNavResponsive {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
  }
  #content-Id .left-nav-category .left-nav-items h4 {
    font-size: 1.5rem;
  }
  #content-Id .left-nav-category .left-nav-items button {
    font-size: 1.1rem;
  }
  #content-Id .left-nav-category ul a li {
    font-size: 1rem;
  }
  #content-Id .left-nav-category ul a i {
    font-size: 1.1rem;
  }
  .filter-icon-leftnav {
    display: none;
  }
  #content-Id .content {
    width: 100%;
  }
  #content-Id .content .title {
    margin: 10px 20px;
    /*  */
  }
  #content-Id .content .title h1 {
    font-size: 2rem;
  }
  #content-Id .content .title .reponsive-show-and-hide-leftnav {
    display: block;
    background-color: var(--input-bg);
    border-radius: 100%;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    font-size: 1.3rem;
  }
  #content-Id .content .title .sort-container p {
    white-space: nowrap;
    font-size: 1.25rem;
    position: relative;
    right: 120px;
    margin: 10px;
  }
  #content-Id .content .title .sort-container p:nth-child(2),
  #content-Id .content .title .sort-container #rating_Select {
    display: none;
  }
  #content-Id .content .product-container {
    width: 100%;
    overflow-x: scroll;
    margin: 0px;
    gap: 10px;
    padding-inline: 10px;
    /* Gap & PaddingInnline Same Value */
  }
  #content-Id .content .page-numbers-container {
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    width: 100%;
    gap: 5px;
  }
  #content-Id .content .page-numbers-container .skip-button {
    width: fit-content;
    gap: 5px;
    padding-inline: 10px;
  }
  #content-Id .content .page-numbers-container .number-page-buttons {
    justify-content: center;
    width: calc(100% - 20%);
    gap: 5px;
  }
  #content-Id .content .page-numbers-container .number-page-buttons button {
    /* min-width: 40px;
    max-width: 40px; */
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
  }

  #content-Id .content .product-container .single-product .product-image {
    width: 250px;
    height: 250px;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    h6 {
    font-size: 1.2rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-reviews-container
    .stars-container {
    font-size: 1.1rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-reviews-container
    .review-note {
    font-size: 1.1rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .product-current-price {
    font-size: 1.2rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .product-old-price {
    font-size: 1.15rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .discount {
    width: fit-content;
    height: fit-content;
    font-size: 0.9rem;
    padding: 2px 10px;
    border-radius: 100px;
  }
  /* /Content */

  /* Banner */
  .contact-banner h2 {
    font-size: 2rem !important;
  }
  .contact-banner .contact-banner-inputs .input-container {
    height: 70px !important;
  }
  .contact-banner .contact-banner-inputs .input-container input {
    font-size: 1.7rem !important;
  }
  .contact-banner .contact-banner-inputs .input-container i {
    font-size: 1.6rem !important;
  }
  .contact-banner .contact-banner-inputs button {
    height: 70px !important;
    font-size: 1.8rem !important;
  }
  /* /Banner */

  /* Footer */
  footer ul {
    gap: 15px !important;
  }
  footer ul h5 {
    font-size: 1.6rem !important;
    letter-spacing: 5px;
  }
  footer ul li {
    font-size: 1.7rem !important;
    letter-spacing: 5px;
  }
  .under-footer {
    flex-direction: column;
    gap: 15px !important;
    margin-bottom: 150px !important;
  }
  .under-footer p {
    font-size: 1.5rem !important;
  }
  .under-footer .payment-icons button {
    width: 100px !important;
    height: 50px !important;
  }
  .under-footer .payment-icons button img {
    width: 40px !important;
  }
  /* /Footer */
}

/* Small laptops and large tablets (769px to 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Content */
  #content-Id {
    width: 100%;
  }
  #content-Id .left-nav-category {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* bottom: 0px; */
    /* top: 0px; */
    z-index: 95;
    overflow: scroll;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    margin-top: 100px;
  }
  #content-Id .left-nav-category.openLeftNavResponsive {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
  }
  #content-Id .left-nav-category .left-nav-items h4 {
    font-size: 1.7rem;
  }
  #content-Id .left-nav-category .category-price .category-price-range-c {
    height: 50px;
  }
  #content-Id .left-nav-category .category-price .category-price-range-c input {
    font-size: 1.7rem;
    height: 100%;
    width: 50%;
  }
  #content-Id .left-nav-category .category-price .category-price-range-c p {
    font-size: 1.7rem;
  }
  #content-Id
    .left-nav-category
    .category-price
    .category-price-range-c
    button {
    font-size: 1.3rem;
    height: 100%;
    width: 30%;
  }
  #content-Id .left-nav-category .left-nav-items button {
    font-size: 1.2rem;
  }
  #content-Id .left-nav-category ul a li {
    font-size: 1.3rem;
  }
  #content-Id .left-nav-category ul a i {
    font-size: 1.1rem;
  }
  .filter-icon-leftnav {
    display: none;
  }
  #content-Id .content {
    width: 100%;
  }
  #content-Id .content .title {
    margin: 10px 20px;
    /*  */
  }
  #content-Id .content .title h1 {
    font-size: 2rem;
  }
  #content-Id .content .title .reponsive-show-and-hide-leftnav {
    display: block;
    background-color: var(--input-bg);
    border-radius: 100%;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    font-size: 1.3rem;
  }
  .left-nav-category .category-colors .colors-inputs-container input {
    width: 40px;
    height: 40px;
  }

  #content-Id .content .title .sort-container p {
    white-space: nowrap;
    font-size: 1.25rem;
    position: relative;
    right: 120px;
    margin: 10px;
  }
  #content-Id .content .title .sort-container p:nth-child(2),
  #content-Id .content .title .sort-container #rating_Select {
    display: none;
  }
  #content-Id .content .product-container {
    width: 100%;
    overflow-x: scroll;
    margin: 0px;
    gap: 10px;
    padding-inline: 10px;
    /* Gap & PaddingInnline Same Value */
  }
  #content-Id .content .page-numbers-container {
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    width: 100%;
    gap: 5px;
  }
  #content-Id .content .page-numbers-container .skip-button {
    width: fit-content;
    gap: 5px;
    padding-inline: 10px;
  }
  #content-Id .content .page-numbers-container .number-page-buttons {
    justify-content: center;
    width: calc(100% - 20%);
    gap: 5px;
  }
  #content-Id .content .page-numbers-container .number-page-buttons button {
    /* min-width: 40px;
    max-width: 40px; */
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
  }

  #content-Id .content .product-container .single-product .product-image {
    width: 250px;
    height: 250px;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    h6 {
    font-size: 1.2rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-reviews-container
    .stars-container {
    font-size: 1.1rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-reviews-container
    .review-note {
    font-size: 1.1rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .product-current-price {
    font-size: 1.2rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .product-old-price {
    font-size: 1.15rem;
  }
  #content-Id
    .content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .discount {
    width: fit-content;
    height: fit-content;
    font-size: 0.9rem;
    padding: 2px 10px;
    border-radius: 100px;
  }

  /* /Content */

  /* Banner */
  .contact-banner h2 {
    font-size: 2rem !important;
  }
  .contact-banner .contact-banner-inputs .input-container {
    height: 70px !important;
  }
  .contact-banner .contact-banner-inputs .input-container input {
    font-size: 1.7rem !important;
  }
  .contact-banner .contact-banner-inputs .input-container i {
    font-size: 1.6rem !important;
  }
  .contact-banner .contact-banner-inputs button {
    height: 70px !important;
    font-size: 1.8rem !important;
  }
  /* /Banner */

  /* Footer */
  footer ul {
    gap: 15px !important;
  }
  footer ul h5 {
    font-size: 1.6rem !important;
    letter-spacing: 5px;
  }
  footer ul li {
    font-size: 1.7rem !important;
    letter-spacing: 5px;
  }
  .under-footer {
    flex-direction: column;
    gap: 15px !important;
    margin-bottom: 150px !important;
  }
  .under-footer p {
    font-size: 1.5rem !important;
  }
  .under-footer .payment-icons button {
    width: 100px !important;
    height: 50px !important;
  }
  .under-footer .payment-icons button img {
    width: 40px !important;
  }
  /* /Footer */
}
