@font-face {
  font-family: integral-Medium;
  src: url(/Assets/Fonts/Integral/Fontspring-DEMO-integralcf-medium.otf);
}
:root {
  --black-color: #000000;
  --input-bg: #f0f0f0;
  --bg-1: #f2f0f1;
  --product-bg: #f0eeed;
  --product-bg: #f0eeed;
  --font-int-M: integral-Medium;
}
body {
  font-family: var(--font-int-M);
}
