/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-1);
  padding-inline: 100px;
  overflow: hidden;
  height: 540px;
}

.header-text-area {
  width: calc(100% - 50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-text-area .header-num-container {
  display: flex;
  align-items: start;
  gap: 20px;
  margin-top: 30px;
}
.header-text-area h1 {
  margin-bottom: 20px;
  font-size: 2.4rem;
}
.header-text-area p {
  margin-bottom: 15px;
}
.header-text-area .header-num-container h4 {
  font-family: var(--font-sat-M);
  font-size: 1.9rem;
}
.header-text-area .header-num-container p {
  font-size: 0.9rem;
  margin-top: 10px;
}

.header-image-area {
  display: flex;
  align-items: end;
  width: 50%;
  height: 100% !important;
  justify-content: center;
  position: relative;
}
.header-image-area .header-svg:nth-child(2) {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50px;
  right: 80px;
}
.header-image-area .header-svg:nth-child(3) {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 250px;
  left: 50px;
}
.header-image-area img {
  height: 105% !important;
  height: auto;
}
/* /Header */

/* Banner */
.banner-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  gap: 80px;
}
.banner-container img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: invert() brightness(calc(100 * 100%));
}
/* /Banner */

/* Product Content */
.product-content {
  padding-block: 30px;
  font-family: var(--font-sat-M);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* background-color: red; */
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.product-content h2 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--font-int-M);
}
.product-content button {
  margin-top: 20px;
}
.product-content .product-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}
.product-content .product-container .single-product .product-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f0eeed;
}
.product-content .product-container .single-product .product-image img {
  width: 90%;
}
/* h6 */
.product-content .product-container .single-product .product-information h6 {
  font-size: 1rem;
  margin-top: 6px;
  margin-bottom: 1px;
}
.product-content .product-container .single-product .product-information {
  padding-inline: 5px;
}
.product-content
  .product-container
  .single-product
  .product-information
  .product-reviews-container
  .stars-container {
  font-size: 0.7rem;
  color: #ffc633;
}
.product-content
  .product-container
  .single-product
  .product-information
  .product-reviews-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-content
  .product-container
  .single-product
  .product-information
  .product-reviews-container
  .review-note {
  display: flex;
  font-size: 0.8rem;
}

.product-content
  .product-container
  .single-product
  .product-information
  .product-price-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.product-content
  .product-container
  .single-product
  .product-information
  .product-price-container
  .product-old-price {
  color: gray;
  text-decoration: line-through;
}
.product-content
  .product-container
  .single-product
  .product-information
  .product-price-container
  .discount {
  color: #ff3333;
  background-color: hsl(0, 100%, 95%);
  border-radius: 2px;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
}
/* /Product Content */

/* Browse By Dress Style */
.clothes-type-container {
  background-color: var(--input-bg);
  border-radius: 40px;
  width: 1239px;
  height: fit-content;
  padding-block: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}
.clothes-type-container h2 {
  text-align: center;
  font-size: 2rem;
}
.clothes-type-container .browse-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.clothes-type-container .browse-img-container .browse-img {
  background-color: var(--white-color);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.clothes-type-container .browse-img-container .browse-img img {
  width: 100%;
  position: absolute;
}
.clothes-type-container .browse-img-container .browse-img:nth-child(1) img {
  bottom: -100px;
  right: -80px;
  width: 80%;

  /*  */
  transform: scaleX(-1);
  transform: scaleY(-1);
  rotate: 180deg;
}
.clothes-type-container .browse-img-container .browse-img:nth-child(2) img {
  width: 150%;
  bottom: -110px;
}
.clothes-type-container .browse-img-container .browse-img:nth-child(3) img {
  width: 100%;
  right: -50px;
}
.clothes-type-container .browse-img-container .browse-img:nth-child(4) img {
  width: 50%;
  top: -85%;
  left: 100px;
}

.clothes-type-container .browse-img-container .browse-img h5 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  font-family: var(--font-sat-M);
  font-size: 1.2rem;
  margin: 10px 20px;
}
/* browse image 1 */
.clothes-type-container .browse-img-container .browse-img:nth-child(1) {
  width: 60%;
  height: 200px;
}
/* browse image 2 */
.clothes-type-container .browse-img-container .browse-img:nth-child(2) {
  width: 30%;
  height: 200px;
}
/* browse image 3 */
.clothes-type-container .browse-img-container .browse-img:nth-child(3) {
  width: 30%;
  height: 200px;
}
/* browse image 4 */
.clothes-type-container .browse-img-container .browse-img:nth-child(4) {
  width: 60%;
  height: 200px;
}
/* /Browse By Dress Style */

/* Customers Reviews */
.customers-reviews-parts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  width: 100%;
}
.customers-reviews-parts-container .customers-reviews-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 700px;
}
.customers-reviews-parts-container .customers-reviews-part1 h2 {
  font-size: 2rem;
}
.customers-reviews-parts-container
  .customers-reviews-part1
  .customers-reviews-arrow-container {
  display: flex;
  gap: 5px;
}
.customers-reviews-parts-container
  .customers-reviews-part1
  .customers-reviews-arrow-container
  button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-reviews-parts-container .customers-reviews-part2 {
  gap: 10px;
  display: flex;
  margin-top: 30px;

  justify-content: start;

  width: 1100px;
  overflow: hidden;
}
.customers-reviews-parts-container
  .customers-reviews-part2
  .customer-reviews-box {
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 90%);
  min-width: 400px;
  max-width: 400px;
  padding: 25px 32px 25px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.customers-reviews-parts-container
  .customers-reviews-part2
  .customer-reviews-box
  .customer-reviews-note {
  font-size: 0.8rem;
  color: #ffc633;
}
.customers-reviews-parts-container
  .customers-reviews-part2
  .customer-reviews-box
  .customer-review-name {
  display: flex;
  align-items: center;
  gap: 5px;
}
.customers-reviews-parts-container
  .customers-reviews-part2
  .customer-reviews-box
  .customer-review-name
  i {
  font-size: 0.8rem;
  color: green;
}
.customers-reviews-parts-container
  .customers-reviews-part2
  .customer-reviews-box
  .customer-review-name
  h5 {
  font-family: var(--font-sat-M);
  font-size: 1rem;
  text-transform: capitalize;
}
/* /Customers Reviews */

/* Contact Banner */
.contact-banner {
  background-color: black;
  border-radius: 20px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}
.contact-banner h2 {
  color: var(--white-color);
  word-wrap: wrap;
  width: 50%;
}
.contact-banner .contact-banner-inputs {
  display: grid;
  gap: 5px;
}
.contact-banner .contact-banner-inputs .input-container {
  background-color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding-inline: 19px;
  gap: 8px;
  width: 249px;
  height: 35px;
}
.contact-banner .contact-banner-inputs button {
  background-color: white;
  border-radius: 100px;
  text-align: center;
  width: 249px;
  height: 35px;
  font-family: var(--font-sat-L);
  font-weight: 900;
}
.contact-banner .contact-banner-inputs .input-container i {
  font-size: 0.9rem;
  color: gray;
}
/* /Contact Banner */

/* Media Query */
@media screen and (min-width: 480px) and (max-width: 1024px) {
  /* Mobile Header */
  .header-container {
    display: flex;
    flex-direction: column;
    overflow: visible;
    height: fit-content;
    padding: 0px;
    gap: 50px;
  }
  .header-container .header-text-area {
    width: 100%;
    padding-block: 60px 0px;
    padding-inline: 60px;
  }
  .header-container .header-text-area h1 {
    font-size: 5rem;
  }
  .header-container .header-text-area p {
    font-size: 2rem;
  }
  .header-container .header-text-area button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: 100%;
    height: 100px;
  }
  .header-container .header-text-area .header-num-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 50px;
    margin-top: 50px;
  }
  .header-container .header-text-area .header-num-container div h4 {
    font-size: 4rem;
  }
  .header-container .header-text-area .header-num-container div p {
    font-size: 2rem;
  }

  .header-container .header-image-area {
    background-color: red;
    width: 100%;
  }
  .header-container .header-image-area img {
    width: 100%;
  }
  .header-container .header-image-area .header-svg:nth-child(2) {
    width: 180px;
    height: 180px;

    top: 50px;
    right: 50px;
  }
  .header-container .header-image-area .header-svg:nth-child(3) {
    width: 90px;
    height: 90px;
    top: 20%;
    left: 80px;
  }
  /* /Mobile Header */

  /* Mobile Banner */
  .banner-container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 50px;
  }
  .banner-container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    filter: invert() brightness(calc(100 * 100%));
  }
  /* /Mobile Banner */

  /* Mobile Product 1 & To Selling Product */
  .product-content {
    margin-top: 100px;
  }
  .product-content .product-container {
    overflow-x: scroll;
    justify-content: start;
    padding: 10px;
    width: 900px;
  }
  .product-content .product-container::-webkit-scrollbar {
    height: 10px;
  }
  .product-content .product-container .single-product {
    margin-bottom: 20px;
    padding: 10px;
  }
  .product-content .product-container .single-product .product-image {
    width: 600px;
    height: 600px;
  }
  .product-content .product-container .single-product .product-information {
    padding-top: 10px;
    padding-inline: 20px;
  }
  .product-content .product-container .single-product .product-information h6 {
    font-size: 2.8rem;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-reviews-container {
    gap: 50px;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-reviews-container
    .stars-container {
    display: flex;
    gap: 10px;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-reviews-container
    .stars-container
    i {
    font-size: 2rem;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-reviews-container
    .review-note {
    font-size: 2rem;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-price-container {
    gap: 20px;
    margin-top: 10px;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .product-current-price {
    font-size: 2.5rem;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .product-old-price {
    font-size: 2.4rem;
  }
  .product-content
    .product-container
    .single-product
    .product-information
    .product-price-container
    .discount {
    font-size: 1.6rem;
    border-radius: 10px;
    padding: 20px 50px;
  }
  .product-content button {
    font-size: 2.5rem;
    width: 100%;
    height: 100px;
  }
  /* /Mobile Product 1 & /To Selling Product */

  /* Browse By Dress Style */
  .clothes-type-container {
    width: 100%;
  }
  .clothes-type-container h2 {
    font-size: 3rem !important;
  }
  .clothes-type-container .browse-img-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .clothes-type-container .browse-img-container .browse-img {
    width: 80% !important;
    height: 400px !important;
  }
  .clothes-type-container .browse-img-container .browse-img img {
    width: 1200px !important;
  }
  .clothes-type-container .browse-img-container .browse-img:nth-child(1) img {
    left: -250px;
    top: -200px;
  }
  .clothes-type-container .browse-img-container .browse-img:nth-child(2) img {
    left: 200px;
    top: -100px;
  }
  .clothes-type-container .browse-img-container .browse-img:nth-child(3) img {
    left: -100px;
    top: -100px;
  }
  .clothes-type-container .browse-img-container .browse-img:nth-child(4) img {
    left: 200px;
    top: -300px;
    width: 600px !important;
  }
  .clothes-type-container .browse-img-container .browse-img h5 {
    font-size: 3rem;
    margin: 30px;
  }
  /* /Browse By Dress Style */

  /* Customers Reviews */
  .customers-reviews-parts-container .customers-reviews-part1 h2 {
    font-size: 3.4rem !important;
  }
  .customers-reviews-parts-container .customers-reviews-part1 {
    gap: 20px;
    padding-inline: 50px;
  }
  .customers-reviews-parts-container
    .customers-reviews-part1
    .customers-reviews-arrow-container {
    gap: 20px;
  }
  .customers-reviews-parts-container
    .customers-reviews-part1
    .customers-reviews-arrow-container
    button {
    width: 80px;
    height: 80px;
    font-size: 3rem;
  }

  .customers-reviews-parts-container .customers-reviews-part2 {
    /* padding-left: 8.5%; */
    /* padding-left: 83px; */
    width: 100%;
  }
  .customers-reviews-parts-container
    .customers-reviews-part2
    .customer-reviews-box {
    min-width: 920px;
    max-width: 920px;
    padding: 30px 50px;
  }
  .customers-reviews-parts-container
    .customers-reviews-part2
    .customer-reviews-box
    .customer-review-name {
    gap: 10px;
    margin-top: 10px;
  }
  .customers-reviews-parts-container
    .customers-reviews-part2
    .customer-reviews-box
    .customer-review-name
    h5 {
    font-size: 2.6rem;
  }
  .customers-reviews-parts-container
    .customers-reviews-part2
    .customer-reviews-box
    .customer-review-name
    i {
    font-size: 1.8rem;
  }
  .customers-reviews-parts-container
    .customers-reviews-part2
    .customer-reviews-box
    p {
    font-size: 2rem;
  }
  .customers-reviews-parts-container
    .customers-reviews-part2
    .customer-reviews-note {
    font-size: 0.9rem !important;
  }
  /* /Customers Reviews */
}
/* /Media Query */
