html {
  scroll-behavior: smooth;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* Integral */
@font-face {
  font-family: integral-Medium;
  src: url(/Assets/Fonts/Integral/Fontspring-DEMO-integralcf-medium.otf);
}
/* Satoshi */

@font-face {
  font-family: Satoshi-Medium;
  src: url(/Assets/Fonts/Satoshi/Satoshi-Medium.otf);
}
@font-face {
  font-family: Satoshi-Light;
  src: url(/Assets/Fonts/Satoshi/Satoshi-Light.otf);
}
:root {
  --black-color: #000000;
  --white-color: #fff;
  --input-bg: #f0f0f0;
  --bg-1: #f2f0f1;
  --product-bg: #f0eeed;
  --product-bg: #f0eeed;
  --font-int-M: integral-Medium;
  --font-sat-M: Satoshi-Medium;
  --font-sat-L: Satoshi-Light;
}
body {
  font-family: var(--font-int-M);
  display: flex;
  flex-direction: column;
  align-items: center;
}
select {
  background-color: transparent;
  border: 0;
  outline: 0;
  text-transform: capitalize;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  /* padding-block: 20px; */
}
nav a h3 {
  font-size: 1.2rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul li {
  font-family: var(--font-sat-L);
  text-transform: capitalize;
  font-size: 0.9rem;
}
nav ul li {
  padding-block: 23px;
  position: relative;
  transition: all 0.4s;
}
nav ul li:hover {
  font-weight: 900;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 0.5px;
  background-color: var(--black-color);
  transition: all 0.4s;
}
nav ul li:hover::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0.5px;
  background-color: var(--black-color);
}

nav ul .nav-search-container {
  background-color: var(--input-bg);
  padding: 1px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 30px;
  background-color: var(--input-bg);
  border-radius: 100px;
}
nav ul .nav-search-container input {
  width: 95%;
  height: 100%;
  background-color: transparent;
  padding-inline: 5px;
  font-family: var(--font-sat-L);
  font-size: 0.8rem;
}
nav ul .nav-search-container i {
  width: calc(100% - 95%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
nav ul .nav-icons {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
nav ul .nav-icons button {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* /Nav */

/* Deafult Styles */
a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}
li {
  list-style: none;
}
input {
  outline: none;
  border: none;
  font-family: var(--font-sat-M);
}
button {
  background-color: transparent;
  border: 0;
}
p {
  color: gray;
  font-family: var(--font-sat-L);
}
::selection {
  background-color: black;
  color: white;
}
h2 {
  letter-spacing: 2px;
}
.logo {
  letter-spacing: 1.2px;
  font-family: var(--font-int-M);
}
h1 {
  letter-spacing: 2px;
}

button {
  cursor: pointer;
  font-family: var(--font-sat-M);
}
.button-1 {
  background-color: var(--black-color);
  border: 1px solid transparent;
  /* border: 1px solid var(--white-color); */
  color: var(--white-color);
  border-radius: 1000px;
  width: 150px;
  height: 40px;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-family: var(--font-sat-M);
  transition: all 0.5s;
}
.button-2 {
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 1000px;
  width: 150px;
  height: 40px;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-family: var(--font-sat-M);
  transition: all 0.5s;
}
.button-2 a {
  color: var(--black-color);
}
.button-1:hover,
.button-2:hover {
  filter: invert();
}
/* /Deafult Styles */

/* Contact Banner */
.contact-banner {
  background-color: black;
  border-radius: 20px;
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  margin-top: 30px;
}
.contact-banner h2 {
  color: var(--white-color);
  word-wrap: wrap;
  width: 50%;
}
.contact-banner .contact-banner-inputs {
  display: grid;
  gap: 5px;
}
.contact-banner .contact-banner-inputs .input-container {
  background-color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding-inline: 19px;
  gap: 8px;
  width: 249px;
  height: 35px;
}
.contact-banner .contact-banner-inputs button {
  background-color: white;
  border-radius: 100px;
  text-align: center;
  width: 249px;
  height: 35px;
  font-family: var(--font-sat-L);
  font-weight: 900;
}
.contact-banner .contact-banner-inputs .input-container i {
  font-size: 0.9rem;
  color: gray;
}
/* /Contact Banner */

/* Footer */
footer {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;

  font-family: var(--font-sat-L);
  display: flex;
  gap: 60px;
  justify-content: center;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
footer .footer-1 {
  width: 20%;
  margin-right: 40px;
}
footer .footer-1 p {
  margin-top: 20px;
}
footer .footer-1 .footer-media-links {
  margin-top: 25px;
}
footer .footer-1 .footer-media-links a button {
  border: 1px solid hsl(0, 0%, 80%);
  font-size: 0.8rem;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  transition: all 0.1s;
}
footer .footer-1 .footer-media-links a button:focus {
  background-color: black;
  color: white;
}
footer ul {
  display: grid;
  gap: 6px;
}
footer ul h5 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--font-sat-M);
  font-weight: 100;
  margin-bottom: 10px;
}
footer ul li {
  text-transform: capitalize;
  color: hsl(0, 0%, 10%);
  letter-spacing: 1px;
}
/* /Footer */

/* Under Footer */
.under-footer {
  display: flex;
  align-items: center;
  gap: 500px;
  margin-bottom: 20px;
}
.under-footer .payment-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.under-footer .payment-icons button {
  width: 46.61px;
  border-radius: 5.38px;
  border: 0.22px solid #d6dce5;
  height: 30.03px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.under-footer .payment-icons button img {
  width: 30px;
}
.under-footer p {
  color: hsl(0, 0%, 40%);
  font-family: var(--font-sat-M);
  font-size: 14px;
  cursor: default;
}
/* /Under Footer */

/* Results Heading */
.results-heading {
  font-family: var(--font-sat-L);
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: hsl(0, 0%, 60%);
  font-size: 1rem;
  display: none;
}
.results-heading span {
  font-family: var(--font-sat-M);
}
/* /Results Heading */

.linksFilter i {
  transition: all 0.5s;
}

/* --------- */
#hidden {
  display: none;
}
/* --------- */

/* Scroll Customize */
::-webkit-scrollbar {
  background-color: var(--bg-1);
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
  border-radius: 100px;
}
/* /Scroll Customize */

/* Button Disabled */
button:disabled {
  opacity: 50%;
  cursor: no-drop;
}
.button-1:hover:disabled {
  filter: invert(0);
}
/* /Button Disabled */

/* Elements Not Showing On Desktop */
#mobile_NavBar {
  display: none;
}
.reponsive-show-and-hide-leftnav {
  display: none;
}
.close-leftnav {
  display: none;
}
/* /Elements Not Showing On Desktop */

/* Shared Media Query */
@media screen and (min-width: 480px) and (max-width: 1024px) {
  h2 {
    font-size: 5rem !important;
    white-space: wrap;
  }
  /* Mobile Nav */
  nav {
    display: none !important;
  }
  #mobile_NavBar {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 30px 35px;
    /*  */
    width: 100%;
    /*  */
    position: sticky;
    top: 0px;
    z-index: 100;
  }
  #mobile_NavBar .mobile-navbar-visible-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 100px;
    /* gap: 100px; */
  }
  #mobile_NavBar .mobile-navbar-visible-side .mobile-navbar-left-side {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  #mobile_NavBar
    .mobile-navbar-visible-side
    .mobile-navbar-left-side
    .open-mobile-navbar
    i {
    font-size: 3.5rem;
  }
  #mobile_NavBar .mobile-navbar-visible-side .mobile-navbar-right-side {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  #mobile_NavBar
    .mobile-navbar-visible-side
    .mobile-navbar-right-side
    button
    i {
    font-size: 3rem;
  }

  #mobile_NavBar ul {
    font-family: var(--font-sat-M);
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-block: 50px 0px;

    /* Remove This To Open Mobile NavBar */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.2s;
  }
  #mobile_NavBar ul a img {
    margin-bottom: 60px;
  }
  #mobile_NavBar ul.active-mobile-navbar {
    opacity: 1;
    visibility: visible;
  }

  #mobile_NavBar ul li {
    border-radius: 100px;
    width: 900px;
    padding-block: 20px;
  }
  #mobile_NavBar ul li:hover {
    background-color: black;
    color: white;
  }

  #mobile_NavBar ul .nav-search-container {
    background-color: var(--input-bg);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    width: 800px;
    margin-bottom: 20px;
  }
  #mobile_NavBar ul .close-mobile-navbar {
    font-size: 5.5rem;
    margin-top: 10px;
  }
  #mobile_NavBar ul .nav-search-container input {
    width: 90%;
    font-size: 2.5rem;
    background-color: transparent;
  }
  #mobile_NavBar ul .nav-search-container i {
    width: calc(100% - 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }
  /* /Mobile Nav */

  /* Mobile Contact Banner */
  .contact-banner {
    display: flex;
    flex-direction: column;
    width: 93%;
    gap: 40px;
    padding-block: 40px;
  }
  .contact-banner h2 {
    width: 100%;
    font-size: 4rem !important;
    line-height: 85px;
  }
  .contact-banner .contact-banner-inputs {
    gap: 25px;
  }
  .contact-banner .contact-banner-inputs .input-container {
    width: 800px;
    height: 100px;
  }
  .contact-banner .contact-banner-inputs .input-container input {
    width: 80%;
    font-size: 2.5rem;
    margin-left: 10px;
  }
  .contact-banner .contact-banner-inputs .input-container i {
    font-size: 2.5rem;
    margin-left: 20px;
  }
  .contact-banner .contact-banner-inputs button {
    font-size: 2.5rem;
    width: 800px;
    height: 100px;
  }
  /* /Mobile Contact Banner */

  /* Mobile Footer */
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer .footer-1 {
    width: 100%;
    padding: 50px;
  }
  footer .footer-1 a h3 {
    font-size: 4rem;
  }
  footer .footer-1 p {
    font-size: 2rem;
    margin-left: 20px;
  }
  footer .footer-1 .footer-media-links a button {
    width: 80px;
    height: 80px;
    font-size: 2.5rem;
  }
  footer ul {
    gap: 30px;
    width: calc(100% / 3);
    margin: 20px;
  }
  footer ul li {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  footer ul h5 {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
  footer ul li {
    font-size: 2.5rem;
  }

  .under-footer {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 00px;
    padding-block: 50px 150px;
    width: 100%;
    background-color: var(--input-bg);
  }
  .under-footer p {
    font-size: 2rem;
  }
  .under-footer .payment-icons {
    gap: 20px;
  }
  .under-footer .payment-icons button {
    width: 140px;
    height: 80px;
    background-color: white;
  }

  .under-footer .payment-icons button img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  /* /Mobile Footer */
}
/* /Shared Media Query */

#hidden {
  display: none;
}
