* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: initial;
}
li {
  list-style: none;
}
input {
  outline: none;
  border: none;
  font-family: var(--font-sat-M);
}
button {
  background-color: transparent;
  border: 0;
}
p {
  color: gray;
  font-family: var(--font-sat-L);
}
::selection {
  background-color: black;
  color: white;
}
h2 {
  letter-spacing: 2px;
}
.logo {
  letter-spacing: 1.2px;
  font-family: var(--font-int-M);
}
